<div class="display-6 bg-secondary text-center text-light p-3">
  Cadastro de Produtos
</div>
<form [formGroup]="formGroupProduct">

  <div class="form-inputs">
    <label for="InputName" class="form-label">Nome</label>
    <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="Nome do produto" formControlName="name" name="name">

    <small *ngIf="submited && name.hasError('required')" class="text-danger">*O nome é requerido!</small>
    <small *ngIf="submited && name.hasError('minlength')" class="text-danger">*O nome tem que ter no mínimo 3!</small>

    </div>
 <div>
    <label for="InputValor" class="form-label">Preço</label>
    <input type=text class="form-control" id="InputValor" placeholder="Preço" formControlName="price" name="price">

    <small *ngIf="submited && price.hasError('required')" class="text-danger">O preço é requerido!</small>
    <small *ngIf="submited && price.hasError('min')" class="text-danger">O preço deve ser maior ou igual a 0!</small>
  </div>

  <button type="save" class="btn btn-primary" (click)="save()" style="margin-top: 10px;">Salvar</button>
  <button type="save" class="btn btn-primary me-2" (click)="cancel()" style="margin-top: 10px;">Cancelar</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <th scope="row">{{p.id}}</th>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td><button class="btn btn-danger" (click)="delete(p)">Remover</button>
        <button class="btn btn-primary" (click)="edit(p)"style="margin-left: 10px;">Editar</button>
      </td>
    </tr>
  </tbody>
</table>
